html {
  font-size: 14px;
  line-height: 1.2;
  font-family: Roboto, sans-serif;
}

@font-face {
  font-family: 'Raleway';
  src: url(src/fonts/raleway/Raleway-Thin.ttf);
}

@font-face {
  font-family: 'Raleway Bold';
  src: url(src/fonts/raleway/Raleway-Regular.ttf);
}