@font-face {
  font-family: 'Raleway';
  src: url(src/fonts/raleway/Raleway-Thin.ttf);
}

@font-face {
  font-family: 'Raleway Bold';
  src: url(src/fonts/raleway/Raleway-Regular.ttf);
}

html {
  font-size: 14px;
  line-height: 1.2;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}