.icons {
  background-image: url("src/images/sprite.png");
  background-repeat: no-repeat;
  display: block; }
  .icons.icon-amazing {
    background-position: -5px -5px;
    width: 25px;
    height: 25px; }
  .icons.icon-click {
    background-position: -5px -40px;
    width: 22px;
    height: 30px; }
  .icons.icon-happy {
    background-position: -5px -80px;
    width: 25px;
    height: 25px; }
  .icons.icon-sad {
    background-position: -5px -115px;
    width: 25px;
    height: 25px; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto; }
  .row:before, .row:after {
    content: '';
    display: block;
    clear: both; }
  .row .col-sm-1 {
    flex-basis: 16.66%;
    max-width: 16.66%; }
  .row .col-sm-2 {
    flex-basis: 33.33%;
    max-width: 33.33%; }
  .row .col-sm-3 {
    flex-basis: 50%;
    max-width: 50%; }
  .row .col-sm-4 {
    flex-basis: 66.66%;
    max-width: 66.66%; }
  .row .col-sm-5 {
    flex-basis: 83.33%;
    max-width: 83.33%; }
  .row .col-sm-6 {
    flex-basis: 100%;
    max-width: 100%; }
  @media (min-width: 700px) {
    .row .col-md-1 {
      flex-basis: 16.66%;
      max-width: 16.66%; }
    .row .col-md-2 {
      flex-basis: 33.33%;
      max-width: 33.33%; }
    .row .col-md-3 {
      flex-basis: 50%;
      max-width: 50%; }
    .row .col-md-4 {
      flex-basis: 66.66%;
      max-width: 66.66%; }
    .row .col-md-5 {
      flex-basis: 83.33%;
      max-width: 83.33%; }
    .row .col-md-6 {
      flex-basis: 100%;
      max-width: 100%; } }
  @media (min-width: 950px) {
    .row .col-lg-1 {
      flex-basis: 16.66%;
      max-width: 16.66%; }
    .row .col-lg-2 {
      flex-basis: 33.33%;
      max-width: 33.33%; }
    .row .col-lg-3 {
      flex-basis: 50%;
      max-width: 50%; }
    .row .col-lg-4 {
      flex-basis: 66.66%;
      max-width: 66.66%; }
    .row .col-lg-5 {
      flex-basis: 83.33%;
      max-width: 83.33%; }
    .row .col-lg-6 {
      flex-basis: 100%;
      max-width: 100%; } }

[class*='col-'] {
  float: left;
  padding-right: 10px; }
  .row [class*='col-']:last-of-type {
    padding-right: 0; }

@font-face {
  font-family: 'Raleway';
  src: url(src/fonts/raleway/Raleway-Thin.ttf); }
@font-face {
  font-family: 'Raleway Bold';
  src: url(src/fonts/raleway/Raleway-Regular.ttf); }
html {
  font-size: 14px;
  line-height: 1.2;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  width: 100%;
  min-width: 300px;
  max-width: 1200px;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  color: #EAE1E3;
  background: url("src/images/background-image-mobile.jpeg") no-repeat center center fixed;
  background-size: cover; }
  @media (min-width: 700px) {
    body {
      background-image: url("src/images/background-image.jpeg"); } }
  body:before {
    content: '';
    position: fixed;
    background: rgba(65, 66, 78, 0.4);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto; }

form {
  position: relative;
  margin: 0;
  background-color: #41424E;
  padding: 30px !important; }
  @media (min-width: 700px) {
    form {
      margin: 50px auto;
      border-radius: 25px; } }
  form label {
    font-size: .9rem; }

.personal-details, .car-preference, .feedback {
  border: none;
  margin: 0 0 2rem; }
  @media (min-width: 700px) {
    .personal-details, .car-preference, .feedback {
      width: 45%; } }
  .personal-details legend, .car-preference legend, .feedback legend {
    font-family: 'Raleway Bold', sans-serif;
    text-align: center;
    margin: 0 0 1rem 0;
    color: #FC5B6D; }
  .personal-details label, .personal-details input, .personal-details textarea, .car-preference label, .car-preference input, .car-preference textarea, .feedback label, .feedback input, .feedback textarea {
    display: block;
    width: 100%;
    margin: 0;
    background-color: #41424E;
    outline: none; }
  .personal-details .field, .car-preference .field, .feedback .field {
    padding: 20px 0; }
    .personal-details .field label, .car-preference .field label, .feedback .field label {
      background-color: transparent; }
    .personal-details .field input, .car-preference .field input, .feedback .field input {
      border: none;
      border-bottom: 1px solid #EAE1E3;
      padding: .5rem;
      font-family: 'Raleway', sans-serif;
      font-size: 1.2rem;
      color: #D4B7BE; }
  .personal-details #select-choice-label, .car-preference #select-choice-label, .feedback #select-choice-label {
    padding: 20px 0 0;
    margin-bottom: 1rem; }
  .personal-details #select-choice, .car-preference #select-choice, .feedback #select-choice {
    padding-left: .5rem;
    font-size: 1.2rem;
    color: #D4B7BE;
    font-family: 'Raleway', sans-serif;
    width: 50%;
    height: 2rem;
    background-color: #41424E;
    outline: none; }

@media (min-width: 700px) {
  .personal-details:before {
    width: 1px;
    height: 540px;
    border-right: 1px solid #2a2a32;
    position: absolute;
    top: 30px;
    left: 50%; } }

.car-preference .radio {
  font-size: 1.2rem;
  padding: 10px 10px 10px 30px !important; }
.car-preference input[type='radio'] {
  margin-top: -27px;
  z-index: 1; }

@media (min-width: 700px) {
  .feedback {
    position: absolute;
    top: 30px;
    left: 52.5%;
    padding-left: 30px; } }
.feedback label {
  padding-bottom: .5rem; }
.feedback textarea {
  resize: none;
  border: 1px solid #EAE1E3;
  color: #D4B7BE;
  font-size: 1.2rem;
  font-family: 'Raleway', sans-serif;
  padding: .5rem; }
.feedback h4 {
  color: #FC5B6D;
  font-family: 'Raleway Bold', sans-serif;
  text-align: center;
  font-weight: 100; }
.feedback .feedback-radio {
  margin-left: 30px; }
  .feedback .feedback-radio .radio {
    font-size: 1.2rem;
    padding: 6px 6px 6px 40px !important;
    margin-top: 1.2rem !important;
    margin-bottom: 1.6rem !important; }
  .feedback .feedback-radio input[type='radio'] {
    margin-top: -37px;
    margin-left: -35px;
    z-index: 1; }

.submit-button {
  margin: 1rem auto;
  width: 100%;
  border: none;
  border-radius: 25px;
  background-color: #FC5B6D;
  color: #EAE1E3;
  text-transform: uppercase;
  padding: 10px;
  font-size: 1.4rem;
  font-family: 'Raleway Bold', sans-serif;
  outline: none; }
  .submit-button:hover {
    outline: none;
    background-color: #9D4956; }
  .submit-button:active {
    outline: none;
    background-color: #7a3943; }
  .submit-button .icon-click {
    margin-top: -28px;
    margin-left: calc(50% + 3.5rem); }

/*# sourceMappingURL=form.css.map */
